html {
  font-size: 62.5%;
}
body {
  font-size: 1.8rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1;
  color: #18191f;
}
.wrapper {
  width: 1440px;
  display: block;
  padding: 0;
}
.container {
  max-width: 1100px;
  display: block;
  margin: 0 auto;
}
.btn {
  padding: 12px 32px;
  font-size: 1.6rem;
  font-weight: 500;
  &--primary {
    background-color: #8c30f5;
    border-radius: 5px;
    color: #ffffff;
  }
  &--transparent {
    background-color: transparent;
    color: #8c30f5;
  }
}
