html {
  font-size: 62.5%;
}
body {
  font-size: 1.8rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1;
  color: #18191f;
  scroll-behavior: smooth;
}
.wrapper {
  width: 100%;
  display: block;
  padding: 0;
}
.container {
  width: 1100px;
  display: block;
  margin: 0 auto;
}
.mobile-close,
.menu-moblie {
  font-size: 30px;
  display: none;
}
.btn {
  padding: 12px 32px;
  font-size: 1.6rem;
  font-weight: 500;
  &--primary {
    background-color: #8c30f5;
    border-radius: 5px;
    color: #ffffff;
    transition: background-color 0.25s ease-out;
    &:hover {
      background-color: #fe9a22;
    }
  }
  &--transparent {
    background-color: transparent;
    color: #8c30f5;
    transition: color 0.2s ease-out;
    &:hover {
      color: #fe9a22;
    }
  }
}
@media (min-width: 1024px) and (max-width: 1239px) {
  .container {
    width: 984px;
  }
}
@media (min-width: 740px) and (max-width: 1023px) {
  .container {
    width: 644px;
  }
  .menu-moblie {
    display: block;
    margin: auto;
    cursor: pointer;
  }
  .mobile-close {
    color: #ffffff;
    display: inline-block;
    cursor: pointer;
    transition: linear all 0.2s;
    &:hover {
      color: #fe9a22;
    }
  }
}
@media (max-width: 739px) {
  .container {
    width: 500px;
  }
  .menu-moblie {
    display: block;
    margin: auto;
    cursor: pointer;
  }
  .mobile-close {
    color: #ffffff;
    display: inline-block;
    cursor: pointer;
    transition: linear all 0.2s;
    &:hover {
      color: #fe9a22;
    }
  }
}
